<h1>String Pipes</h1>


<h2>{{'angular' | titlecase }}</h2>
<h2>{{'angular' | lowercase }}</h2>
<h2>{{'angular' | uppercase }}</h2>

<h1>Number Pipes</h1>

<h2>{{ 1231251.234 | number }}</h2>

<h1>Percentage Pipes</h1>

<h2>{{0.7 | percent}}</h2>

<h1>Currency Pipe</h1>

<h2>{{ 1000 | currency }}</h2>

<h2>{{ 1000 | currency: 'EUR'}}</h2>

<h2>{{ 1000 | currency: 'GBP' : 'code'}}</h2>


<h1>Date and Time Pipe</h1>

<h2>{{ date }}</h2>

<h2>{{ date | date }} - Normal</h2>
<h2>{{ date | date: 'short' }} - Short</h2>
<h2>{{ date | date: 'medium' }} - Medium</h2>
<h2>{{ date | date: 'long' }} - Long</h2>
<h2>{{ date | date: 'full' }} - Full</h2>
<h2>{{ date | date: 'MM/dd/yyyy'}} - MM/dd/yyyy</h2>

<h2>{{ date | date: 'hh:mm:ss z'}}</h2>

<h1>JSON Pipe</h1>

<h2>{{ user }}</h2>
<button (click)="convertToJSON()">Jsonify User</button>

<p>or with pipe interp</p>

<h2>{{ user | json }}</h2>

<h1>Slice pipe</h1>

{{ 'Hello Angular' | slice: 0 : 6 }}
